@import 'partials/setup';
@import 'partials/variables';
@import 'partials/button';

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: $bodyFont;
	background-color: $lightGrey;
	// background: url('../../assets/bground.jpg') no-repeat;
	// background-size: cover;
}

h1 {
	font-family: $titleFont;
	font-size: 4.8rem;
	letter-spacing: 3.4px;
	margin: 0;
	// text-shadow: 2px 2px 1px #000;
}

#map {
	width: 100%;
	min-height: 100vh;
}

.map-container {
	width: 100%;
	min-height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

header {
	text-align: center;
	padding: 20px 0;
}

.map-background {
	// background: linear-gradient(0deg, rgba($greyColor,0.3) 0%, rgba($sandColor, 0.2) 100%);
	min-height: 100vh;
	display: flex;
	// align-items: center;
	justify-content: center;
	position: relative;
}

.main-wrapper {
	// background: #fff;
	max-width: 80%;
	margin: 60px auto;
	border-radius: 2px;
	outline-offset: 70px;
	outline: 50px solid rgba(0,0,0,0.2);
}

.wrapper {
	display: flex;
	justify-content: center;
	width: 90%;
	margin: 0 auto;
}

.roadtrip-sidebar {
	width: 45%;
	// display: none;
}

.roadtrip-form {
	width: 100%;
	display: flex;
	flex-direction: column;

	input {
		background: rgba(0,0,0,0.2);
		width: 100%;
		padding: 20px;
		&::placeholder {
			// color: white;
		}
	}
}