@import 'partials/setup';
@import 'partials/variables';
@import 'partials/button';

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: $bodyFont;
	background-color: $lightGrey;
	background: linear-gradient(0deg, rgba($blueColor,0.9) 0%, rgba($lightGrey, 0.8) 100%);
	// background: url('../../assets/bground.jpg') no-repeat;
	// background-size: cover;
}

h1 {
	font-family: $titleFont;
	font-size: 6.2rem;
	letter-spacing: 3.4px;
	margin: 0;
}

.stops {
	padding: 5px;
	padding-bottom: 10px;
	border: 10px dashed $blueColor;
	border-right: 10px solid $blueColor;
	border-left: none;
}

#map {
	width: 100%;
	min-height: 100vh;
}

.map-container {
	width: 100%;
	min-height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

header {
	text-align: center;
	padding: 20px;
	margin: 20px;
	p {
		margin: 25px 0;
		padding-top: 10px;
		font-size: 1.8rem;
	}
}

.map-background {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	position: relative;
}

.main-wrapper {
	max-width: 80%;
	margin: 60px auto;
	outline-offset: 10px;
	outline: 50px solid rgba($lightGrey, 0.7);
}

.wrapper {
	display: flex;
	justify-content: center;
	width: 90%;
	margin: 0 auto;
}

.roadtrip-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	label {
		display: flex;
		i {
			padding: 0 5px;
			color: darken($blueColor, 20);
		}
	}
	input {
		background: rgba($sandColor, .3);
		width: 100%;
		padding: 20px;
		margin: 15px 0;
		border: none;
		&::placeholder {
			color: $sandColor;
		}
	}
	button {
		align-self: center;
		i {
			font-size: 4.2rem;
			color: $sandColor;
		}
	}
}

.add-stop {
	position: absolute;
	top: 50px;
	right: 50px;
	font-size: 5.8rem;
	color: darken($blueColor, 20);
	&:hover {
		cursor: pointer;
		color: $greyColor;
	}
}

.form-modal {
	padding: 25px;
	position: absolute;
	top: 50%;
	z-index: 9;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background: white;
}