button {
	margin: 10px;
		padding: 2px 30px;
		background-color: $blueColor;
		border: 4px dashed darken($blueColor, 20);
		border-radius: 5px;
		text-align: center;
		position: relative;
		overflow: hidden;
		transition: 0.3s;
		&:after {
			position: absolute;
			transition: 0.3s;
			content: '';
			width: 0%;
			left: 50%;
			bottom: 0;
			height: 3px;
			background: $sandColor;
			i {
				transform: translateX(5px);
			}
		}
		&:hover {
			cursor: pointer;
			border-radius: 30px;
			&:after {
				left: 0;
				width: 0%;
			}
		}
}